/*
*.pyc
__pycache__/

# Elementos tipo python
!*.py
!*.ipynb
!.gitignore
# Elementos de la propagacion en C
!/propagation-cpml-C/
!/experimentos/
!/propagation-cpml-C-original/
!/propagation_python/

/propagation-cpml-C/*.bin
/propagation-cpml-C-original/*.bin
